@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

/*--VoteBox Changes--*/
#vote {
	box-shadow: 0 0 10px #000;
	border-radius: 40px;
	width: 255px !important;
}
#app #vote .bottom {
	background: rgba(0,0,0,0);
}
#woot, #grab, #meh {
	margin-top: 0 !important;
}
#vote .selected,
#vote .selected .value {
	font-weight: bold;
	color: #FFF;
}
.pop-menu, .pop-menu .bar {
	border-radius: 20px 20px 0 0;
	background: transparent;
}
.pop-menu .bar {
	background: linear-gradient(hsla(260,50%,50%,0.8), hsla(260,50%,30%,0.8));
}
.pop-menu .bar-divider {
	background: linear-gradient(hsla(0,0%,90%,0.8), hsla(0,0%,60%,0.8));
}
.pop-menu .menu ul {
	background: hsla(260,10%,7%,0.8);
}
.pop-menu .menu ul i + span {
	font-weight: bold;
}
.pop-menu .menu ul li:hover {
	background: linear-gradient(hsla(260,50%,50%,0.2), hsla(260,50%,30%,0.2));;
}
.pop-menu .menu ul .create:hover {
	background: linear-gradient(hsl(260,40%,50%), hsl(260,40%,30%));
}
.pop-menu .menu::-webkit-scrollbar {
	background: hsl(260,10%,20%) !important;
	box-shadow: inset 0 0 10px #000;
	width: 10px;
}
.pop-menu .menu::-webkit-scrollbar-thumb {
	background: linear-gradient(to right, hsl(260,40%,60%), hsl(260,40%,40%));
	box-shadow: inset 0 0 5px hsla(0,0%,100%,0.3);
}
#woot {
	border-radius: 30px 0 0 30px;
	background: linear-gradient(135deg, hsla(0,0%,50%,0.3), hsla(0,0%,30%,0.3)) !important;
	box-shadow: inset 0 0 10px hsl(0,0%,40%) !important;
}
#woot.selected, #woot-rs .title {
	background: linear-gradient(135deg, hsla(90,80%,50%,0.8), hsla(90,80%,30%,0.8)) !important;
	box-shadow: inset 0 0 10px hsl(70,100%,40%) !important;
}
#grab {
	background: linear-gradient(hsla(0,0%,50%,0.3), hsla(0,0%,30%,0.3)) !important;
	box-shadow: inset 0 0 10px hsl(0,0%,40%) !important;
}
#grab.selected, #grab-rs .title {
	background: linear-gradient(hsla(270,70%,50%,0.8), hsla(265,70%,30%,0.8)) !important;
	box-shadow: inset 0 0 10px hsl(280,100%,40%) !important;
}
#meh {
	background: linear-gradient(225deg, hsla(0,0%,50%,0.3), hsla(0,0%,30%,0.3)) !important;
	box-shadow: inset 0 0 10px hsl(0,0%,40%) !important;
	border-radius: 0 30px 30px 0;
	margin-right: 0 !important;
}
#meh.selected, #meh-rs .title {
	background: linear-gradient(225deg, hsla(5,80%,50%,0.8), hsla(0,80%,40%,0.8)) !important;
	box-shadow: inset 0 0 10px hsl(15,100%,50%) !important;
}
#dj-button {
	border-radius: 50px;
	background: linear-gradient(hsla(210,10%,50%,0.3), hsla(210,10%,40%,0.3));
	box-shadow: 0 0 10px #000;
}
#dj-button:hover {
	background: linear-gradient(hsla(210,10%,50%,0.5), hsla(210,10%,40%,0.5));
}
#dj-button .left {
	border-radius: 50px 0 0 50px;
	background: linear-gradient(135deg, hsla(210,80%,60%,0.6), hsla(210,80%,50%,0.6));
	box-shadow: 0 0 10px #000;
}
#dj-button:hover .left {
	background: linear-gradient(135deg, hsla(210,80%,60%,0.9), hsla(210,80%,50%,0.9));
}
#dj-button.is-leave .left, #dj-button.is-quit .left {
	background: linear-gradient(135deg, hsla(15,80%,60%,0.6), hsla(15,80%,50%,0.6));
}
#dj-button.is-leave:hover .left, #dj-button.is-quit:hover .left {
	background: linear-gradient(135deg, hsla(15,80%,60%,0.9), hsla(15,80%,50%,0.9));
}
#dj-button.is-locked .left, #dj-button.is-full .left {
	background: linear-gradient(135deg, hsla(0,0%,10%,0.6), hsla(0,0%,5%,0.6));
}
#dj-button.is-locked:hover .left, #dj-button.is-full:hover .left {
	background: linear-gradient(135deg, hsla(0,0%,10%,0.9), hsla(0,0%,5%,0.9));
}

/*--Plug Changes--*/
#room-settings a:hover, #chat a:hover {
	color: hsl(200,100%,55%) !important;
	text-shadow: 0 0 5px;
}
#search-menu .menu ul  i, #search-menu-icon {
	/*Adblock fix*/
	display: inline !important;
}
.slider .line, #user-settings .slider .bar {
	background: linear-gradient(to right, hsl(210,100%,50%), hsl(269, 100%, 50%)) !important;
}
#user-settings .slider .bar {
	width: calc(100% - 1px) !important;
}
.slider .circle, #user-settings .slider .circle {
	background: #fff !important;	
	box-shadow: inset 0 0 10px rgba(0,0,0,0.4);
}
#tooltip span, #tooltip.blue span {
	background: radial-gradient(hsla(210,100%,30%,0.9), hsla(220,100%,20%,0.9));
	border-radius: 13px 13px 13px 0
}
#tooltip.orange span {
	background: radial-gradient(hsla(20,100%,50%,0.9), hsla(10,100%,40%,0.9));
}
#tooltip.orange .corner {
	border-top: 10px solid transparent !important;
	border-right: 0px solid transparent !important;
	border-left: 10px solid hsla(10,100%,45%,0.9) !important;
	border-bottom: 10px solid transparent !important;
}
#tooltip.purple span {
	background: radial-gradient(hsla(270,70%,60%,0.9), hsla(270,70%,50%,0.9));
}
#tooltip.purple .corner {
	border-top: 10px solid transparent !important;
	border-right: 0px solid transparent !important;
	border-left: 10px solid hsla(270,70%,52%,0.9) !important;
	border-bottom: 10px solid transparent !important;
}
#tooltip.purple.right .corner {
	border-top: 10px solid hsla(270,70%,52%,0.9) !important;
	border-right: 10px solid hsla(270,70%,52%,0.9) !important;
	border-left: 10px solid transparent !important;
	border-bottom: 10px solid transparent !important;
}
#tooltip.right span {
	border-radius: 13px 13px 0 13px
}
#tooltip .corner {
	border-top: 10px solid transparent !important;
	border-right: 0px solid transparent !important;
	border-left: 10px solid hsla(220,100%,22%,0.9) !important;
	border-bottom: 10px solid transparent !important;
}
#tooltip.right .corner {
	border-top: 10px solid hsla(220,100%,20%,0.9) !important;
	border-right: 10px solid hsla(220,100%,22%,0.9) !important;
	border-left: 10px solid transparent !important;
	border-bottom: 10px solid transparent !important;
}
#playback .background {
	visibility: hidden;
}
.video-only #playback-container {
	box-shadow: none;
	border: none !important;
}
.video-only #ws-rmvDJ, .video-only #ws-skip {
	display: none;
}
.video-only #vote {
	width: auto !important;
	left: 230px !important;
}
#user-menu .avatar {
	background: linear-gradient(rgba(0,0,0,0)70%, hsla(140,50%,90%,0.4) 80%),
	linear-gradient(hsl(200,70%,20%), hsl(140,70%,20%)) !important;
	box-shadow: inset 0 0 30px #000;
}
.app-header, #app-menu.in-room, #footer, #search, #video-only-dj {
	background: linear-gradient(hsla(210,10%,20%,0.8), hsla(210,10%,10%,0.8));
}
.app-header {
	box-shadow: 0px 1px 10px #000;
}
.app-header #history-button {
	background: linear-gradient(hsl(210,10%,20%), hsl(210,0%,15%));
}
.app-header #header-panel-bar .selected, .app-header #history-button.selected {
	background: linear-gradient(hsl(220,60%,40%), hsl(220,60%,20%));
}
#footer {
	box-shadow: 0px -1px 10px #000;
}
#footer .chevron:before, #footer .chevron:after {
	background: hsl(200,100%,40%)!important;
}
#footer #your-next-media.in-history {
	color: hsl(10,80%,55%);
}
#footer .back {
	background: linear-gradient(hsl(210,10%,30%), hsl(210,10%,20%)) !important;
}
#footer-user .buttons .button:hover, #footer .back:hover, #video-only-dj:hover {
	background: radial-gradient(hsl(200,100%,60%), hsl(200,100%,30%)) !important;
	box-shadow: inset 0 0 1px 2px hsla(0,0%,100%,0.3) !important;
}
#footer-user .buttons .button.inventory:hover .thumb, #video-only-dj:hover .thumb {
	border-color: #5bf !important;
	box-shadow: 0 0 7px #5bf !important;
}
#footer-user .info {
	background: linear-gradient(hsla(210,5%,10%,0.8), hsla(210,5%,5%,0.8));
	text-shadow: 0 0 5px #000;
}
#footer-user .name span {
	font-weight: bold;
}
#footer-user .info .meta .bar .progress {
	box-shadow: 0 0 10px hsl(205,100%,50%) !important;
}
#footer-user .info .points .pp {
	color: hsl(200,100%,70%);
}
.inventory.button .background {
	visibility: hidden;
}
#playlist-button {
	background: linear-gradient(hsl(205,100%,50%), hsl(205,100%,40%));
}
#playlist-import, #playlist-create {
	background: linear-gradient(135deg, hsl(205,10%,30%), hsl(205,10%,20%));
}
#playlist-import:hover, #playlist-create:hover {
	background: linear-gradient(hsl(205,80%,50%), hsl(205,80%,40%));
}

/*--User Rollover Settings--*/
#user-rollover {
	border-radius: 30px 30px 0 0;
	background: linear-gradient(135deg, hsla(0,0%,20%,0.6), hsla(0,0%,0%,0.6));
	box-shadow: 0 0 10px #000;
}
#user-rollover .info {
	background: linear-gradient(hsla(220,100%,30%,0.5), hsla(220,100%,15%,0.5));
	box-shadow: 0px -2px 10px -1px #000;
	border-radius: 50% 50% 0 0 !important;
}
#user-rollover .info i + span {
	text-shadow: 0 0 5px #000;
}
.thumb {
	background: hsla(210,10%,10%,0.4);
}
#user-rollover .info .badge-box,
#user-rollover .background,
#video-only-dj .background,
#search-suggestion,
#search-suggestion ul {
	background: rgba(0,0,0,0);
}
.thumb.large, .thumb, #user-rollover .meta.online .thumb {
	border-color: hsl(80,70%,50%) !important;
	box-shadow: 0 0 7px hsl(80,70%,50%) !important;
}
.thumb.large, #user-rollover .meta.online .thumb.large {
	box-shadow: 0 0 15px hsl(80,70%,50%) !important;
}
#user-rollover.is-staff .meta.online .thumb, #waitlist .is-staff .thumb {
	border-color: hsl(270,50%,50%) !important;
	box-shadow: 0 0 7px hsl(270,50%,50%) !important;
}
#user-rollover.is-staff .meta.online .thumb.large {
	box-shadow: 0 0 15px hsl(270,50%,50%) !important;
}
#user-rollover .meta.subscriber .thumb, #waitlist .is-subscriber .thumb {
	border-color: hsl(45,80%,45%) !important;
	box-shadow: 0 0 7px hsl(45,80%,45%) !important;
}
#user-rollover .meta.subscriber .thumb.large {
	box-shadow: 0 0 15px hsl(45,80%,45%) !important;
}
#user-rollover .meta.online .status i {
	display: none;
}
#user-rollover .meta.online .status span {
	color: hsl(80,70%,50%);
	margin-left: 0;
}
.offline .thumb {
	border-color: hsl(0,0%,40%) !important;
	box-shadow: none !important;
}
#user-rollover .action {
	background: radial-gradient(hsla(0,0%,7%,0.8), hsla(0,0%,0%,0.8)) !important;
	box-shadow: 0 0 2px 1px #151515 !important;
}
#user-rollover .action:hover {
	background: radial-gradient(hsla(210,100%,30%,0.9), hsla(210,100%,20%,0.9)) !important;
	box-shadow: inset 0 0 50px #000 !important;
}
#app-menu .button, #room .friends.has-requests .header {
	background: linear-gradient(to right, hsl(215,100%,30%), hsl(215,100%,20%));
	box-shadow: inset 0 0 40px 1px hsla(0,0%,0%,0.3);
}
#app-menu .button:hover, #room .friends.has-requests .header:hover {
	background: linear-gradient(to right, hsl(210,100%,40%), hsl(210,100%,30%));
}
#app-menu .button i {
	background: url(http://i.imgur.com/za7ITid.png) !important;
}
#app-menu .list a {
    color: #ffffff;
}
#app-menu .list {
    color: #ffffff;
}
#app-menu .list {
	background: linear-gradient(hsl(210,100%,40%), hsl(220,10%,20%));
}
#app-menu .list .item {
	box-shadow: none;
}
#app-menu .list .item:hover {
	box-shadow: inset 0 0 7px 0px hsla(0,0%,100%,0.5);
	background: linear-gradient(to right, hsl(210,100%,20%), hsl(200,100%,20%));
}
#app-menu .list .logout {
	background: hsl(220,10%,15%);
}
#app-menu .list .logout:hover {
	background: linear-gradient(to right, hsl(10,90%,20%), hsl(0,90%,20%));
	box-shadow: 0 0 5px #000;
	border: 1px solid #F55;
}
.dialog {
	border-radius: 20px;
	background: hsla(210,10%,20%,0.5);
}
.dialog .dialog-body {
	background: hsla(210,10%,5%,0.8) !important;
}
.dialog .cancel {
	border-radius: 0 0 0 20px;
	background: linear-gradient(hsla(15,80%,50%,0.5), hsla(15,80%,30%,0.5)) !important;
}
.dialog .submit {
	border-radius: 0 0 20px 0;
	background: linear-gradient(hsla(210,100%,50%,0.5), hsla(210,100%,30%,0.5)) !important;
}
#dialog-restricted-media .divider {
	background: hsl(225,50%,20%);
}
#dialog-restricted-media .submit {
	border-radius: 0 0 20px 20px;
}
#dialog-level-up {
	background: linear-gradient(hsl(210,10%,20%), hsl(210,10%,10%));
	box-shadow: 0 0 20px #000;
}
#dialog-level-up .dialog-body {
	background: transparent;
}
#dialog-preview .submit {
	border-radius: 0 0 20px 20px;
	background: transparent !important;
}
#dialog-user-role .button.submit {
	border-radius: 0 0 20px;
}
#dialog-user-role .button.cancel {
	border-radius: 0 0 0 20px;
}
#dialog-user-role .button.cancel span {
	color: hsl(15,80%,50%);
}
#search-suggestion {
	top: 48px;
}
#user-inventory .history .row {background: linear-gradient(hsl(220,10%,12%), hsl(220,10%,10%)) !important;}
#user-inventory .history .row .item {background: linear-gradient(hsl(220,10%,20%), hsl(220,10%,15%)) !important;}
#user-inventory .history .row:nth-child(1) {border-radius: 20px 20px 0 0;}
#user-inventory .history .row:nth-child(1) .item {border-radius: 20px 0 0 0;}
#user-inventory .history .row:nth-last-child(1) {border-radius: 0 0 20px 20px;}
#user-inventory .history .row:nth-last-child(1) .item {border-radius: 0 0 0 20px;}
#user-inventory .history .row .col {box-shadow: -1px 0 0 0 hsl(210,50%,20%) !important;}
#user-inventory .history .jspPane .row {border-color: hsl(210,50%,20%); !important} 

/*--Playlist Changes--*/
#media-panel #playlist-activate-button {
	background: linear-gradient(hsl(260,50%,40%), hsl(260,40%,30%));
	box-shadow: inset 0 0 10px 1px hsl(260,50%,45%);
	border-radius: 30px 0 0 30px;
}
#media-panel #playlist-activate-button:hover {
	background: linear-gradient(hsl(260,50%,50%), hsl(260,50%,40%));
	box-shadow: inset 0 0 10px 1px hsl(260,50%,55%);
}
#media-panel #playlist-activate-button.active {
	background: linear-gradient(hsl(200,100%,30%), hsl(210,100%,20%));
	box-shadow: inset 0 0 10px 1px hsl(210,80%,30%);
	color: hsl(220,100%,50%) !important;
}
#playlist-activate-button i, #playlist-menu .row i {
	background-position: -70px -140px;
}
#media-panel #playlist-activate-button.active span,
#dialog-user-role .name {
	color: #eee !important;
}
#media-panel #playlist-activate-button.active:hover {
	cursor: default !important;
}
#media-panel #playlist-edit-button {
	background: linear-gradient(hsl(200,80%,50%), hsl(170,80%,30%));
	box-shadow: inset 0 0 10px 1px hsl(200,50%,55%);
}
#media-panel #playlist-edit-button:hover {
	background: linear-gradient(hsl(200,100%,50%), hsl(170,100%,30%));
	box-shadow: inset 0 0 10px 1px hsla(0,0%,100%,0.3);
}
#media-panel #playlist-shuffle-button {
	background: linear-gradient(hsl(140,80%,40%), hsl(120,80%,30%));
	box-shadow: inset 0 0 10px 1px hsla(0,0%,100%,0.5);
}
#media-panel #playlist-shuffle-button:hover {
	background: linear-gradient(hsl(140,100%,50%), hsl(120,100%,30%));
	box-shadow: inset 0 0 10px 1px hsl(130,50%,55%);
}
#media-panel #playlist-delete-button {
	border-radius: 0 7px 7px 0;
	background: linear-gradient(hsl(0,80%,50%), hsl(20,80%,30%));
	box-shadow: inset 0 0 10px 1px hsl(0,50%,55%);
}
#media-panel #playlist-delete-button:hover {
	background: linear-gradient(hsl(0,100%,60%), hsl(20,100%,50%));
	box-shadow: inset 0 0 10px 1px hsla(0,100%,100%,0.5);
}
#playlist-menu .row.selected {
	background: linear-gradient(to right, hsl(220,100%,30%), hsl(220,100%,40%)) !important;
	box-shadow: 0 0 2px 1px hsl(205,100%,50%);
}
#playlist-menu .count {
	color: hsl(205,100%,60%) !important;
}
#media-panel .media-list .playlist-media-first-item.selected {
	background: linear-gradient(to right, hsl(220,100%,30%), hsl(220,100%,40%)) !important;
	box-shadow: inset 0 0 2px 1px hsl(205,100%,50%);
	border-radius: 7px;
}
#media-panel .media-list .playlist-media-first-item.now-playing {
	box-shadow: inset 0 0 10px 1px hsl(200,100%,30%);
	background: linear-gradient(hsl(200,100%,40%), hsl(200,100%,30%)) !important;
	border-radius: 7px;
	border-bottom: none !important;
}
#media-panel .media-list .playlist-media-item.in-history, #media-panel .media-list .playlist-media-last-item.in-history  {
	color: hsl(20,80%,55%);
	box-shadow: inset 0 0 1px 1px hsla(30,100%,30%,0.5);
	border-radius: 7px;
}
.playlist-media-item:nth-child(2n+1) {
	color: #AAA;
	background: hsla(219,15%,15%,0.6);
}
#media-panel .media-list .playlist-media-first-item .actions,
#media-panel .media-list .playlist-media-last-item .actions,
.playlist-media-item .actions {
	background: linear-gradient(hsla(210,100%,20%,0.8), hsla(210,100%,10%,0.8)) !important;
	border-radius: 30px 0 0 30px;
}
#media-panel .media-list .playlist-media-first-item .actions .action:hover,
#media-panel .media-list .playlist-media-first-item.now-playing .actions .action:hover,
#media-panel .media-list .playlist-media-last-item .actions .action:hover,
.playlist-media-item .actions .action:hover {
	background: radial-gradient(hsl(210,100%,50%), hsl(210,100%,20%)) !important;
	box-shadow: 0 0 10px #000;
}
#media-panel .media-list .playlist-media-first-item .actions .action:hover:first-child,
#media-panel .media-list .playlist-media-first-item.now-playing .actions .action:hover:first-child,
#media-panel .media-list .playlist-media-last-item .actions .action:hover:first-child,
.playlist-media-item .actions .action:hover:first-child {
	border-radius: 30px 0 0 30px;
}
#media-panel .media-list .playlist-media-item.selected, #media-panel .media-list .playlist-media-last-item.selected, #media-panel .media-list .playlist-media-item.in-history.selected {
	color: #EEE;
	background: linear-gradient(hsl(220,100%,20%), hsl(220,100%,10%));
	box-shadow: inset 0 0 1px 1px hsl(205,100%,30%);
	border-radius: 7px;
}
#media-panel .media-list.playlist-media .meta {
	border: none !important;
}

/*--shit for me--*/
.icon-chat-host {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/rank_host.png);
	background-position: 2px 0 !important;
}
.icon-chat-host + span,
#user-lists .group.host ~ .user span,
#dialog-user-role .role-menu .menu ul .host span {
	color: #db182e !important;
}
#user-rollover.id-5287545 .badge-box > i.bdg,
.id-5287545 > .badge-box > i.bdg
{
    background-image:    url("http://i.imgur.com/Dg6MZ2e.png");
    border-radius: 6px;
}
#user-rollover.id-5287545 > .info > .role span {
	text-indent: -9999px;
	line-height:0;
}
#user-rollover.id-5287545 > .info > .role span:after {
	text-indent:0;
	content:'Host';
	display:block;
	line-height: initial;
        color: #db182e;
}
#user-rollover.id-5287545 > .info > .role:hover span:after {
	text-indent:0;
	content:'Brand Ambassador';
	display:block;
	line-height: initial;
        color: #89be6c;
}
#user-rollover.id-5287545 > .info > .role .icon { 
	background: url(http://i.imgur.com/zIAEqAk.png) !important; 
}

#user-rollover.id-5287545 > .info > .role:hover .icon { 
	background: url(http://i.imgur.com/IO84f0g.png) !important; 
}
/*--Other Roles--*/
.icon-chat-cohost {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/rank_cohost.png);
	background-position: 2px 0 !important;
}
.icon-chat-cohost + span,
#dialog-user-role .dialog-body .role-menu .menu ul .cohost span {
	color: #db182e !important;
}
#chat .cm .msg .from.you .un {
	color: #0bf !important;
}
.icon-chat-manager {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/rank_manager.png);
	background-position: 2px 0 !important;
}
.icon-chat-manager + span,
#user-lists .group.manager ~ .user span,
#dialog-user-role .role-menu .menu ul .manager span {
	color: #ab48c7 !important;
}
#user-lists .group.manager {
	color: #ab48c7;
	background: linear-gradient(to right, hsla(287, 53%, 53%, 0.5), hsla(287, 53%, 53%, 0.5)) !important;
}
.icon-chat-bouncer {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/rank_bouncer.png);
	background-position: 1px 0 !important;
}
.icon-chat-bouncer + span,
#user-lists .group.bouncer ~ .user span,
#dialog-user-role .role-menu .menu ul .bouncer span {
	color: #5DB4FF !important;
}
#user-lists .group.bouncer {
	color: #5DB4FF;
	background: linear-gradient(to right, hsla(208, 100%, 68%,0.5), hsla(208, 100%, 68%,0.5)) !important;
}
.icon-chat-dj {
	background: url(https://raw.githubusercontent.com/WiBla/Script/master/images/chat/rank_dj.png);
	background-position: 0 0 !important;
}
#user-lists .group.dj {
	color: #F7A452;
	background: linear-gradient(to right, hsla(30, 91%, 65%,0.5), hsla(30, 91%, 65%,0.5)) !important;
}
.icon-chat-dj + span,
#user-lists .group.dj ~ .user span,
#dialog-user-role .role-menu .menu ul .dj span {
	color: #F7A452 !important;
}

/*--Skittles Bitch--*/
@keyframes rainbow {
	0% {color: #ff0000;}
	10% {color: #ff8000;}
	20% {color: #ffff00;}
	30% {color: #80ff00;}
	40% {color: #00ff00;}
	50% {color: #00ff80;}
	60% {color: #00ffff;}
	70% {color: #0080ff;}
	80% {color: #0000ff;}
	90% {color: #8000ff;}
	100% {color: #ff0080;}
}
